* {
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  background: linear-gradient(120deg, white, var(--background-color));
  --background-color: rgba(0, 0, 255, 0.07);
  --shadow-color: rgba(0, 0, 50, 0.3);
  --hover-textcolor: rgb(150, 150, 150);
}

h1 {
  margin-bottom: 80px;
  font-variant: small-caps;
  font-size: 2.5rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

.icon {
  cursor: pointer;
}

.flex {
  display: flex;
}

button {
  cursor: pointer;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

button:hover {
  background-color: var(--background-color);
}

button:disabled{
  cursor: default;
  color: #999;
}

button:disabled:hover{
  background-color: white;
}
.d-none {
  display: none !important;
}

.flex {
  display: flex;
}

.hover:hover:not(:focus) {
  background-color: var(--background-color);
}

.invert {
  filter: invert(50%);
}

/* ----------  NAVIGATION  ------------ */

.nav {
  display: flex;
  flex-direction: column;
  width: 25vw;
  max-width: 250px;
  min-width: 100px;
  padding-top: 80px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.nav_item_container {
  position: fixed;
  width: 25%;
}

.nav_item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 25vw;
  max-width: 250px;
  min-width: 100px;
}

.nav_item:focus {
  background-color: var(--background-color);
}

.nav_icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

/* ------------  CONTENT SECTIONS  ------------- */

section {
  min-height: 100vh;
}

.section_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 75%;
  padding-top: 80px;
}

.section_container::before {
  content: '';
  position: absolute;
  right: 0;
  top: 75px;
  height: 58px;
  background-color: var(--background-color);
  width: calc(50% + 180px);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* ---------------  ADD NOTE FIELD  -------------- */

.add_note {
  flex-direction: column;
  width: 250px;
  height: 120px;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: all 225ms ease-in-out;
  position: relative;
  margin-bottom: 100px;
}

.add_note_symbol {
  align-items: center;
  padding: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
  border-radius: 10px;
}

.add_note_icon {
  width: 75px;
  margin-right: 20px;
}

.add_note_open {
  width: 60%;
  height: 301px;
}

.close {
  position: absolute;
  right: 0;
  width: 20px;
  margin: 5px;
  padding: 1.5px;
  border-radius: 5px;
}

.close:hover {
  box-shadow: 0 2px 5px var(--shadow-color);
}

.input {
  padding: 15px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

#title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1rem;
}
#content {
  width: 100%;
  height: 80%;
  vertical-align: top;
  resize: none;
}

.input:focus {
  outline: none;
  background-color: var(--background-color);
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: white;
}

/* ------------  RENDERED NOTES AREA  ------------- */

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--hover-textcolor);
  position: relative;
}

.notes_container {
/*   display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 30px;
  justify-items: center;
  padding: 5%;
  width: 100%;
  height: 100%;
  color: var(--hover-textcolor);
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  min-width: 200px;
  width: 100%;
  max-height: 200px;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  /* margin: 30px; */
}

.word-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  hyphens: auto;
  max-width: 100%;
}

hr {
  width: 100%;
}

.note-title{
  font-weight: 500;
}

.delete_note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}

.note_icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}

.hover_text {
  font-size: 0;
  color: var(--hover-textcolor);
  display: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 255, 0.05);
  border-radius: 20px;
  position: absolute;
  top: 0;
  transform: translateY(-80%);
  left: 30px;
  white-space: nowrap;
}

.hover_translate {
  transform: translateY(-50%);
}

.icon2 {
  left: 70px;
}
.note_icon:hover + .hover_text {
  display: inline-block;
  font-size: 0.8rem;
}

.delete_note:hover {
  box-shadow: 0 2px 5px var(--shadow-color);
}


.delete_all {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding-left: 9px;
  background-color: white;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 30px;
  box-shadow: 0 2px 5px var(--shadow-color);
  position: absolute;
  right: 5vw;
  top: 0;
  transform: translateY(-40px);
  cursor: pointer;
  overflow: hidden;
  font-size: 0;
  transition-property: background-color, width, font-size;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

#delete_all_trash {
  transform: translateY(-85%);
}
.delete_all:hover {
  background-color: var(--background-color);
  width: 190px;
  font-size: 0.9rem;
}

.delete_all_icon {
  filter: invert(50%);
  margin-right: 15px;
}

/* ----------  SHOW NOTE  ----------- */

.show_note_bg {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 1;
  transition: all 225ms ease-in-out;
}

.invisible {
  opacity: 0;
}

.show_note {
  /* width: 0;
  height: 0; */
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: all 1s ease-in-out;
}

.show_note_open {
  left: 50% !important;
  top: 50% !important;
  width: 60% !important;
  height: 300px !important;
  transform: translate(-50%, -50%);
}

.show_note_title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--background-color);
  border-bottom: 0.5px solid rgb(230, 230, 230);
}

.show_note_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 15px;
}

.show_note_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.show_note_actions_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  position: relative;
}

@media (max-width: 700px) {
  body {
    display: initial;
  }

  .nav {
    background: linear-gradient(120deg, white, rgb(240, 240, 255));

    max-width: 100%;
    width: 100%;
    padding-top: 0;
    height: 50px;
    position: fixed;
    z-index: 2;
  }

  .nav_item_container {
    position: initial;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 20px;
  }

  .nav_item {
    border-radius: 0;
    justify-content: center;
    width: 150px;
  }

  .notes_container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px){
  .notes_container{
    grid-template-columns: 1fr;
  }
}
